/* Topo fixo */
.fixed {
    position: sticky;
    top: 0;
    z-index: 1000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 0.5rem 1rem;
    border-bottom: var(--border-width) solid var(--highlight-color);
}

header .logo {
    width: 2.8rem;
    height: auto;
    border-radius: 50%;
}

header h1 {
    text-align: center;
    font-size: 1.4rem;
    color: var(--highlight-color);
    flex: 1;
    margin: 0 1rem;
}

header button {
    background: none;
    border: none;
    color: var(--highlight-color);
    cursor: pointer;
    font-size: 1.7rem;
}

nav {
    display: none;
    background-color: var(--background-color);
    border-bottom: var(--border-width) solid var(--highlight-color);
    padding: 1rem;
}

nav.ativo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

nav a {
    display: block;
    color: var(--letter-color);
    border: var(--border-width) solid var(--highlight-color);
    border-radius: var(--radius);
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
}

nav a:hover {
    color: var(--background-color);
    background-color: var(--highlight-color);
}

main {
    padding: 1rem;
    max-width: 1600px;
    margin: 0 auto;
}

footer {
    padding: 1rem;
    margin-top: 2rem;
    border-top: var(--border-width) solid var(--highlight-color);
    background-color: var(--background-color);
    text-align: center;
    color: var(--letter-color);
}

@media (min-width: 768px) {
    header button {
        display: none;
    }

    nav {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        border-bottom: var(--border-width) solid var(--highlight-color);
        background-color: var(--background-color);
    }

    nav a {
        max-width: none;
        width: auto;
        flex: 1;
        max-width: 180px;
    }
}
